.header{
    background-color: rgb(205,245,218);
    height: 80px;
}

.container{
    flex-direction: row-reverse;
}

@media screen and (max-width: 500px) {
    .header .container {
        justify-content: center;
    }
}
